aside p a {
    color: #FFFFFF;
}
@media only screen and (max-width: 800px) {
img {
    width: 50%;
    height: 50%;
}
}
@media only screen and (max-width: 800px) {
nav li {
    float: none;
    width: 100%;
    border-width: 2px;
}

}
img {
    float: left;
    clear: left;
    margin-right: 20px;
}
aside {
    color: #FFFFFF;
}
aside h2 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 3vw;
}