aside h2 {
    font-family: 'Londrina Shadow', cursive;
    font-size: xx-large;
}
#test1 {
    height: 250px;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #777777;
    width: 90%;
    color: #000000;
}
#test2 {
    height: 250px;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #777777;
    width: 90%;
    color: #000000;
}
#test3 {
    height: 250px;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #777777;
    width: 90%;
    color: #000000;
}
#test4 {
    height: 250px;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #777777;
    width: 90%;
    color: #000000;
}
aside {
    column-count: 4;
    column-gap: 20px;
    text-align: justify;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#test1 img {
    width: 100%;
    height: 80%;
}
#test2 img {
    width: 100%;
    height: 80%;
}
#test3 img {
    width: 100%;
    height: 80%;
    color: #000000;
}
#test3 p a {
    color: #000000;
}
#test2 p a {
    color: #080808;
}
#test1 p a {
    text-decoration: none;
    color: #000000;
}
header a {
    text-decoration: none;
    color: #FFFFFF;
}
#test4 h5 {
    color: #FFFFFF;
    font-size: large;
}
#test3 p a {
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
aside {
    column-count: 2;
    column-gap: 20px;
    text-align: justify;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
 }
}